{% load i18n %}
{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo py-3" style="height: auto;">
        <a href="{% url 'school:profile-lessons' pk=request.user.id %}" class="app-brand-link align-items-start">
            {% if site_logo_icon == '' and site_logo_text == '' %}
            <span class="app-brand-text demo ms-2">
                {{ site_title }}
            </span>
            {% else %}
            <span class="app-brand-logo demo">
                <img src="{{ site_logo_icon.url }}" alt="Ruslana.English" style="height: 29px; width: auto;">
            </span>
            <span class="app-brand-text demo ms-2">
                <img src="{{ site_logo_text.url }}" alt="Ruslana.English" style="height: 45px; width: auto;">
            </span>
            {% endif %}
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </a>
    </div>
    <ul class="menu-inner py-2">
        {% if request.user.school_role == 'teacher' %}
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">{% trans 'Cabinet' %}</span>
        </li>
        <!-- Page -->
        <li class="menu-item {% if current_page == 'schedule' %}active{% endif %}">
            <a href="{% url 'school:cabinet-schedule' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>{% trans 'Schedule' %}</div>
            </a>
        </li>
        <li class="menu-item {% if current_page == 'students' %}active{% endif %}">
            <a href="{% url 'school:cabinet-students' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div>{% trans 'Students' %}</div>
            </a>
        </li>
        <li class="menu-item  {% if current_page == 'statistics' %}active{% endif %}">
            <a href="{% url 'school:cabinet-statistics' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-bar-chart-alt-2"></i>
                <div>{% trans 'Statistics' %}</div>
            </a>
        </li>
        {% endif %}
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">{% trans 'Profile' %}</span>
        </li>
        <li class="menu-item  {% if current_page == 'lessons' and current_user.user == request.user %}active{% endif %}">
            <a href="{% url 'school:profile-lessons' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-school"></i>
                <div>{% trans 'Lessons' %}</div>
            </a>
        </li>
        {% if request.user.school_role == 'student' %}
        <li class="menu-item  {% if current_page == 'progress' and current_user.user == request.user %}active{% endif %}">
            <a href="{% url 'school:profile-progress' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-graduation"></i>
                <div>{% trans 'Progress' %}</div>
            </a>
        </li>
        {% endif %}
        <li class="menu-item  {% if current_page == 'payments' and current_user.user == request.user %}active{% endif %}">
            <a href="{% url 'school:profile-payments' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-money-withdraw"></i>
                <div>{% trans 'Billing & Plans' %}</div>
            </a>
        </li>
        <li class="menu-item  {% if current_page == 'settings' and current_user.user == request.user %}active{% endif %}">
            <a href="{% url 'school:profile-settings' pk=request.user.id %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div>{% trans 'Settings' %}</div>
            </a>
        </li>
        {% if request.user.is_staff or request.user.is_superuser %}
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">{% trans 'Payments' %}</span>
        </li>
        <li class="menu-item  {% if current_page == 'payment-add' %}active{% endif %}">
            <a href="{% url 'transactions:payment-add' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-credit-card"></i>
                <div>{% trans 'Add payment' %}</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">{% trans 'School Analytics' %}</span>
        </li>
        <li class="menu-item  {% if current_page == 'teacher-analytics' %}active{% endif %}">
            <a href="{% url 'school:analytic-teachers' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-line-chart"></i>
                <div>{% trans 'Teachers' %}</div>
            </a>
        </li>
        <li class="menu-item  {% if current_page == 'company-analytics' %}active{% endif %}">
            <a href="{% url 'school:analytic-companies' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-pie-chart-alt-2"></i>
                <div>{% trans 'Companies' %}</div>
            </a>
        </li>
        {% endif %}
    </ul>
</aside>