{% load extract_students %}
{% load i18n %}
<div class="card mb-4">
{% if not lessons %}
    <div class="card-body">
        <h6 class="m-0">{% trans 'Lessons not found' %}</h6>
    </div>
    {% else %}
    <div class="card-table table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" style="width: 1%;">{% trans 'Date' %}</th>
                <th class="text-center" style="width: 1%;">{% trans 'Status' %}</th>
                <th>{% trans 'Theme / Students' %}</th>
                <th class="text-center" style="width: 1%;">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            {% for lesson in lessons %}
            <tr>
                <td style="width: 1%;">{{ lesson.date|date:"d.m.Y" }} {{ lesson.time|time:"H:i" }}</td>
                <td style="width: 1%;">
                    {% if lesson.status == 'planned' %}
                    <span class="badge bg-label-info">{{ lesson.status }}</span>
                    {% elif lesson.status == 'conducted' %}
                    <span class="badge bg-label-success">{{ lesson.status }}</span>
                    {% elif lesson.status == 'missed' %}
                    <span class="badge bg-label-danger">{{ lesson.status }}</span>
                    {% endif %}
                </td>
                <td>
                    <p class="m-0"><b>{% trans 'Theme:' %}</b></p>
                    <p class="m-0">{{ lesson.theme }}</p>
                    <hr class="my-2">
                    <p class="m-0"><b>{% trans 'Students:' %}</b></p>
                    <p class="m-0">{{ lesson.students|extract_students }}</p>
                </td>
                <td style="width: 1%;">
                    <div class="dropdown btn-group">
                        <a href="{% url 'school:lesson-view' pk=lesson.id %}"
                           class="btn btn-icon btn-outline-secondary">
                            <i class='bx bx-show'></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if lessons.paginator.num_pages > 1 %}
    <hr class="m-0">
    <div class="card-footer">
        <nav aria-label="Page navigation">
            <ul class="pagination m-0">
                {% if lessons.has_previous %}
                <li class="page-item prev">
                    <a class="page-link" href="?page={{ lessons.previous_page_number }}">
                        <i class="tf-icon bx bx-chevron-left"></i>
                    </a>
                </li>
                {% endif %}
                {% for number in page_range %}
                {% if number != lessons.number %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ number }}">{{ number }}</a>
                </li>
                {% else %}
                <li class="page-item active">
                    <a class="page-link">{{ number }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if lessons.has_next %}
                <li class="page-item next">
                    <a class="page-link" href="?page={{ lessons.next_page_number }}">
                        <i class="tf-icon bx bx-chevron-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
</div>
