{% load extract_students %}
{% load i18n %}
<div class="card mb-4">
    {% if not lessons %}
    <div class="card-body">
        <h6 class="m-0">{% trans 'Lessons not found' %}</h6>
    </div>
    {% else %}
    <div class="card-table table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" style="width: 1%;">{% trans 'Date' %}</th>
                <th class="text-center" style="width: 1%;">{% trans 'Status' %}</th>
                <th>{% trans 'Theme / Students' %}</th>
                <th class="text-center" style="width: 1%;">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            {% for lesson in lessons %}
            <tr>
                <td style="width: 1%;">{{ lesson.date|date:"d.m.Y" }} {{ lesson.time|time:"H:i" }}</td>
                <td style="width: 1%;">
                    {% include 'siteapp/components/lesson-status-badge.html' %}
                </td>
                <td>
                    <table class="table table-sm table-borderless">
                        <tr>
                            <th style="width:1%;">{% trans 'Theme:' %}</th>
                            <td>{{ lesson.theme }}</td>
                        </tr>
                        {% if current_user.user.school_role == 'teacher' %}
                        <tr>
                            <th style="width:1%;">{% trans 'Students:' %}</th>
                            <td>{{ lesson.students|extract_students }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
                <td style="width: 1%;">
                    <a href="{% url 'school:lesson-view' pk=lesson.id %}"
                           class="btn btn-icon btn-outline-secondary">
                            <i class='bx bx-show'></i>
                        </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if lessons.paginator.num_pages > 1 %}
    <hr class="m-0">
    <div class="card-footer">
        {% include "siteapp/components/_pagination.html" with object_list=lessons page_range=page_range %}
    </div>
    {% endif %}
</div>
