{% load i18n %}
<div class="card mb-4">
    {% if not payments %}
    <div class="card-body">
        <h6 class="m-0">{% trans 'Payments not found' %}</h6>
    </div>
    {% else %}
    <div class="card-table table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" style="width: 1%;">{% trans 'Date' %}</th>
                <th class="text-center" style="width: 1%;">{% trans 'Lesson' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Description' %}</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0">
            {% for payment in payments %}
            <tr>
                <td style="width: 1%;">{{ payment.created_at|date:"d.m.Y" }} {{ payment.created_at|time:"H:i" }}</td>
                <td>{{ payment.lesson }}</td>
                <td>{{ payment.price }}</td>
                <td>{{ payment.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if payments.paginator.num_pages > 1 %}
    <hr class="m-0">
    <div class="card-footer">
        <nav aria-label="Page navigation">
            <ul class="pagination m-0">
                {% if payments.has_previous %}
                <li class="page-item prev">
                    <a class="page-link" href="?page={{ payments.previous_page_number }}">
                        <i class="tf-icon bx bx-chevron-left"></i>
                    </a>
                </li>
                {% endif %}
                {% for number in page_range %}
                {% if number != payments.number %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ number }}">{{ number }}</a>
                </li>
                {% else %}
                <li class="page-item active">
                    <a class="page-link">{{ number }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if payments.has_next %}
                <li class="page-item next">
                    <a class="page-link" href="?page={{ payments.next_page_number }}">
                        <i class="tf-icon bx bx-chevron-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>