{% load i18n %}
{% load crispy_forms_tags %}
<div class="card mb-4">
<div class="card-header">
    <div class=" d-flex flex-wrap justify-content-between align-items-center gap-3 w-100">
        <h5 class="card-title m-0">Your progress and levels</h5>
        {% if request.user.school_role == 'teacher' %}
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newComment">Add
            note</a>
        {% endif %}
    </div>
    <p class="text-muted m-0">
        {% trans 'To be completed by the teacher as he or she learns and passes the themes.' %}</p>
</div>
<hr class="my-1">
{% if not progress_list %}
<div class="card-body">
    <h6 class="m-0">{% trans 'Progress list is empty!' %}</h6>
</div>
{% else %}
<!-- Activity Timeline -->
<div class="card-body">
    <ul class="timeline">
        {% for stage in progress_list %}
        <li class="timeline-item timeline-item-transparent">
            <span class="timeline-point timeline-point-primary"></span>
            <div class="timeline-event">
                <div class="timeline-header gap-2 mb-1">
                    <h6 class="mb-0">{{ stage.title }}</h6>
                    <div>
                        <small class="text-muted">{{ stage.date|date:"d.m.Y" }}</small>
                        {% if stage.teacher == current_user.teacher and current_user.teacher.user == request.user %}
                        <form method="POST" action="{% url 'school:progress-delete' pk=current_user.user.id pk2=stage.id %}" class="ms-2" style="display:inline-block;">
                            {% csrf_token %}
                            <button class="btn p-0" type="submit"><i class="bx bx-trash"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% if stage.description %}
                <p style="white-space: pre-line" class="mb-2">{{ stage.description }}</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        <li class="timeline-end-indicator">
            <i class="bx bx-check-circle"></i>
        </li>
    </ul>
</div>
<!-- /Activity Timeline -->
{% endif %}
{% if progress_list.paginator.num_pages > 1 %}
<hr class="m-0">
<div class="card-footer">
    {% include "siteapp/components/_pagination.html" with object_list=progress_list page_range=page_range %}
</div>
{% endif %}

{% if request.user.school_role == 'teacher' %}
<!-- Modal -->
<!-- Add progress note Modal -->
<div class="modal fade" id="newComment" tabindex="-1" aria-labelledby="newCommentLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newComment">{% trans 'New Note' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form action="{% url 'school:profile-progress' pk=current_user.user.id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ progress_form.title|as_crispy_field }}
                    {{ progress_form.description|as_crispy_field }}
                    {{ progress_form.student|as_crispy_field }}
                    {{ progress_form.teacher|as_crispy_field }}
                </div>
                <div class="modal-footer">
                    <div class="d-flex flex-wrap justify-content-between w-100 gap-3">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/ Add progress note Modal -->
<!-- /Modal -->
{% endif %}
</div>