{% load i18n %}
{% load crispy_forms_tags %}
<div class="card mb-3">
    <div class="card-header border-bottom">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <button
                        type="button"
                        class="nav-link {% if active_tab == 'common' or active_tab is None %} active {% endif %}"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-tab-settings-common"
                        aria-controls="navs-tab-settings-common"
                        aria-selected="true">
                    {% trans 'Common Fields' %}
                </button>
            </li>
            <li class="nav-item">
                <button
                        type="button"
                        class="nav-link {% if active_tab == 'password' %} active {% endif %}"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-tab-settings-password"
                        aria-controls="navs-tab-settings-password"
                        aria-selected="false">
                    {% trans 'Change Password' %}
                </button>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade {% if active_tab == 'common' or active_tab is None %} active show {% endif %}" id="navs-tab-settings-common" role="tabpanel">
            <form action="{% url 'school:profile-settings' pk=request.user.id %}" method="POST" id="common">
                {% csrf_token %}
                <fieldset>
                    <input type="hidden" name="form_name" id="common_form" value="common">
                    {{ common_form|crispy }}
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade {% if active_tab == 'password' %} active show {% endif %}" id="navs-tab-settings-password" role="tabpanel">
            <form action="{% url 'school:profile-settings' pk=request.user.id %}" method="POST" id="password">
                {% csrf_token %}
                <fieldset>
                    <input type="hidden" name="form_name" id="change_password" value="password">
                    {{ password_form|crispy }}
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>