{% extends 'users/base-template.html' %}
{% load i18n %}
{% load static %}

{% block page-title %}{{ 'Password Reset - Done' }}{% endblock %}

{% block content %}
<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center">
            <div class="flex-row text-center mx-auto">
                <img
                        src="{% static './img/pages/light-reset-link.png' %}"
                        alt="Auth Cover Bg color"
                        width="520"
                        class="img-fluid authentication-cover-img"
                        data-app-light-img="pages/light-reset-link.png"
                        data-app-dark-img="pages/dark-reset-link.png"/>
                <div class="mx-auto">
                    <h3>{% trans 'Your password was reset' %} 👩🏻‍💻</h3>
                    <p>
                        {% trans 'Check your email.' %}
                    </p>
                </div>
            </div>
        </div>
        <!-- /Left Text -->

        <!--  Verify email -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-4 p-sm-5">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-4">
                    <a href="{% url 'school:main' %}" class="app-brand-link gap-2 mb-2">
                        <img src="{{ site_logo_full.url }}" alt="">
                    </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">{% trans 'Password reset request sent' %} ✉️</h4>
                <p class="text-start">
                    {% trans 'We&#700;ve emailed you with instructions on how to reset your password.' %}
                </p>
            </div>
        </div>
        <!-- / Verify email -->
    </div>
</div>
{% endblock %}