{% extends 'users/base-template.html' %}
{% load i18n %}
{% load static %}

{% block page-title %}{% trans 'Password Reset - Complete' %}{% endblock %}

{% block content %}
<div class="authentication-wrapper authentication-cover">
    <div class="authentication-inner row m-0">
        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center">
            <div class="flex-row text-center mx-auto">
                <img
                        src="{% static './img/pages/light-password-reset-done.png' %}"
                        alt="Auth Cover Bg color"
                        width="520"
                        class="img-fluid authentication-cover-img"
                        data-app-light-img="pages/light-password-reset-done.png"
                        data-app-dark-img="pages/dark-password-reset-done.png"/>
            </div>
        </div>
        <!-- /Left Text -->

        <!--  Verify email -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-4 p-sm-5">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-4">
                    <a href="index.html" class="app-brand-link gap-2 mb-2">
                <span class="app-brand-logo demo">
                  <img src="{% static './img/logo-icon.svg' %}" alt="">
                </span>
                        <span class="app-brand-text demo h3 mb-0 fw-bold">Ruslana.English</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">{% trans 'Password reset complete!️' %}</h4>
                <p class="text-start">
                    {% trans 'Now you can login.' %}
                </p>
                <a class="btn btn-primary w-100 my-3" href="{% url 'users:login' %}">{% trans 'Login' %}</a>
            </div>
        </div>
        <!-- / Verify email -->
    </div>
</div>
{% endblock %}