{% extends 'school/base-template.html' %}
{% load i18n %}
{% load static %}
{% load url_params %}
{% load extract_students %}
{% block extra_css %}
<!--  Custom  -->
<link rel="stylesheet" href="{% static './vendor/libs/quill/typography.css' %}"/>
<link rel="stylesheet" href="{% static './vendor/libs/quill/katex.css' %}"/>
<link rel="stylesheet" href="{% static './vendor/libs/quill/editor.css' %}"/>

<style>
    .dropdown-menu {
        --bs-dropdown-min-width: 5rem !important;

        max-height: 10rem;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block page-title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="card mb-4">
        <div class="card-body">
            <div class=" d-flex flex-wrap justify-content-between align-items-center gap-3 w-100">
                <h1 class="h2 m-0">{% trans 'Schedule' %}</h1>
                <a href="{% url 'school:lesson-add' pk=request.user.pk %}" class="btn btn-primary">{% trans 'Add lesson' %}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-around align-items-center">
                    <div class="dropdown">
                        <button
                                class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                type="button"
                                id="month_filter"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {% for item in month_list %}
                            {% if item.number == month %}{{ item.title }} {% endif %}
                            {% endfor %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="month_filter">
                            {% for item in month_list %}
                            <li>
                                <a class="dropdown-item" href="?{% param_replace month=item.number %}">{{ item.title }}</a>
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dropdown">
                        <button
                                class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                type="button"
                                id="year_filter"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            {% for item in year_list %}
                            {% if item == year %}{{ item }} {% endif %}
                            {% endfor %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="year_filter">
                            {% for item in year_list %}
                            <li><a class="dropdown-item" href="?{% param_replace year=item %}">{{ item }}</a></li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <table class="calendar" style="width:100%; text-align:center;">
                        <thead>
                        <tr style="display: grid; grid-template-columns: repeat(7,1fr);">
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for week in month_calendar %}
                        <tr style="display: grid; grid-template-columns: repeat(7,1fr);">
                            {% for day in week %}
                            <td>
                                {% if day != 0 %}
                                    {% if day in lesson_dates %}
                                        <a href="?date={{ year }}-{{ month }}-{{ day }}" class="highlight">{{ day }}</a>
                                    {% else %}
                                        {{ day }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between align-items-center w-100 gap-3">
                    <span class="h5 m-0">{{ date|date:"d.m.Y" }}</span>
                </div>
                <hr class="m-0">
                {% if lessons %}
                <div class="card-table">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans 'Time' %}</th>
                                <th>{% trans 'Status' %}</th>
                                <th>{% trans 'Students' %}</th>
                                <th class="text-center" style="width: 1%;">{% trans 'Actions' %}</th>
                            </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                            {% for lesson in lessons %}
                            <tr>
                                <td>{{ lesson.time|time:"H:i" }}</td>
                                <td>
                                    {% if lesson.status == 'planned' %}
                                    <span class="badge bg-label-info">{{ lesson.status }}</span>
                                    {% elif lesson.status == 'conducted' %}
                                    <span class="badge bg-label-success">{{ lesson.status }}</span>
                                    {% elif lesson.status == 'missed' %}
                                    <span class="badge bg-label-danger">{{ lesson.status }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ lesson.students|extract_students }}</td>
                                <td style="width: 1%;">
                                    <div class="dropdown btn-group">
                                        <a href="{% url 'school:lesson-view' pk=lesson.id %}"
                                           class="btn btn-icon btn-outline-secondary">
                                            <i class='bx bx-show'></i>
                                        </a>
                                        <button type="button"
                                                class="btn btn-icon btn-outline-secondary p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown" aria-expanded="true">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu hide"
                                             data-popper-placement="bottom-start"
                                             style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(1225px, 139px);">
                                            {% if lesson.status == 'planned' %}
                                            <a class="dropdown-item" href="{% url 'school:lesson-edit' pk=lesson.id %}">
                                                <i class="bx bx-edit-alt me-1"></i>{% trans 'Edit' %}</a>
                                            <a class="dropdown-item dropdown-item--conducted" href="javascript:void(0);"
                                               data-bs-toggle="modal" data-bs-target="#conducted"
                                               data-id="{{ lesson.id }}" data-action="conducted">
                                                <i class="bx bx-check me-1"></i>{% trans 'Conducted' %}</a>
                                            <a class="dropdown-item dropdown-item--missed" href="javascript:void(0);"
                                               data-bs-toggle="modal" data-bs-target="#missed"
                                               data-id="{{ lesson.id }}" data-action="missed">
                                                <i class="bx bx-x me-1"></i>{% trans 'Missed' %}</a>
                                            <a class="dropdown-item dropdown-item--move" href="javascript:void(0);"
                                               data-bs-toggle="modal" data-bs-target="#move"
                                               data-id="{{ lesson.id }}" data-action="move">
                                                <i class="bx bx-right-arrow-circle me-1"></i>{% trans 'Move' %}</a>
                                            <a class="dropdown-item dropdown-item--delete" href="javascript:void(0);"
                                               data-bs-toggle="modal" data-bs-target="#delete"
                                               data-id="{{ lesson.id }}" data-action="delete">
                                                <i class="bx bx-trash me-1"></i>{% trans 'Delete' %}</a>
                                            {% else %}
                                            <a class="dropdown-item" href="{% url 'school:lesson-edit' pk=lesson.id %}">
                                                <i class="bx bx-edit-alt me-1"></i>{% trans 'Edit' %}</a>
                                            <a class="dropdown-item dropdown-item--planned" href="javascript:void(0);"
                                               data-bs-toggle="modal" data-bs-target="#planned" title="{% trans 'Planned' %}"
                                               data-id="{{ lesson.id }}" data-action="planned">
                                                <i class="bx bx-rotate-left"></i>{% trans 'Planned' %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                <div class="card-body">
                    {% trans 'Lesson list is empty' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal Conducted -->
{% include 'school/modals/lesson-conducted.html' %}
<!-- / Modal Conducted -->
<!-- Modal Missed -->
{% include 'school/modals/lesson-missed.html' %}
<!-- / Modal Missed -->
<!-- Modal Planned -->
{% include 'school/modals/lesson-planned.html' %}
<!-- / Modal Planned -->
<!-- Modal Delete -->
{% include 'school/modals/lesson-delete.html' %}
<!-- / Modal Delete -->
<!-- Modal Move  -->
{% include 'school/modals/lesson-move.html' %}
<!-- / Modal Move -->
{% endblock %}
{% block extra_js %}
<script src="{% static './vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static './vendor/libs/quill/quill.js' %}"></script>
<script src="{% static './vendor/libs/quill/katex.js' %}"></script>
<script src="{% static './vendor/libs/cleavejs/cleave.js' %}"></script>
<script src="{% static './vendor/libs/cleavejs/cleave-phone.js' %}"></script>
<script>
    function handleDropdownItemClick(action) {
        let urls = {
            'delete': "{% url 'school:lesson-delete' pk=0 %}",
            'move': "{% url 'school:lesson-move' pk=0 %}",
            'conducted': "{% url 'school:lesson-conducted' pk=0 %}",
            'missed': "{% url 'school:lesson-missed' pk=0 %}",
            'planned': "{% url 'school:lesson-planned' pk=0 %}",
        };

        document.querySelectorAll('.dropdown-item').forEach(function(item) {
            item.addEventListener('click', function(event) {
                var lessonId = this.getAttribute('data-id');
                var url = urls[action].replace('0', lessonId);
                document.querySelector('#' + action + ' form').setAttribute('action', url);
            });
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.dropdown-item').forEach(function(item) {
            var action = item.getAttribute('data-action');
            handleDropdownItemClick(action);
        });
    });



        new Cleave(".time-mask", {
            time: true,
            timePattern: ["h", "m"]
        });

        let timeOptions = [];

    for (let hour = 0; hour < 24; hour++) {
        for (let minute = 0; minute < 60; minute += 15) {
            let formattedHour = ("0" + hour).slice(-2);
            let formattedMinute = ("0" + minute).slice(-2);
            timeOptions.push(`${formattedHour}:${formattedMinute}`);
        }
    }

    let datalist = document.createElement('datalist');
    datalist.id = 'time-options';

    timeOptions.forEach(time => {
        let option = document.createElement('option');
        option.value = time;
        datalist.appendChild(option);
    });

    let inputTime = document.getElementById('id_time');
    inputTime.insertAdjacentElement('afterend', datalist);

</script>

{% endblock %}