{% extends 'siteapp/base-template.html' %}
{% load i18n %}
{% block page-title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <div class="card-body">
            <div class="page-header">
                <h1 class="h2 m-0">{{ title }}</h1>
            </div>
        </div>
    </div>
    <!-- Users List Table -->
    <div class="card">
        <div class="card-table table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center" style="width: 1%;">{% trans 'Actions' %}</th>
                    <th>{% trans 'Student' %}</th>
                    <th>{% trans 'Company' %}</th>
                    <th>{% trans 'Status' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for student in students %}
                <tr>
                    <td style="width: 1%;">
                        <div class="btn-group">
                            <a href="{% url 'school:profile-lessons' pk=student.user.id %}" class="btn btn-icon btn-outline-secondary">
                                <i class='tf-icons bx bx-show'></i>
                            </a>
                          {% if current.user.is_staff %}
                            <a href="#" class="btn btn-icon btn-danger">
                                <i class='tf-icons bx bx-trash'></i>
                            </a>
                          {% endif %}
                        </div>
                    </td>
                    <td>{{ student }}</td>
                    <td>
                      {% if student.company != None %}
                        {{ student.company }}
                      {% endif %}
                    </td>
                    <td>
                      {% if student.user.is_active == True %}
                        <span class="badge bg-label-success">{% trans 'ACTIVE' %}</span>
                      {% else %}
                        <span class="badge bg-label-danger">{% trans 'INACTIVE' %}</span>
                      {% endif %}
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if students.paginator.num_pages > 1 %}
        <div class="card-footer">
            {% include "siteapp/components/_pagination.html" with object_list=students page_range=page_range %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}