{% extends 'school/base-template.html' %}
{% load i18n %}
{% load static %}
{% load extract_languages %}
{% block page-title %}{{ current_user }}{% endblock %}
{% block extra_css %}

{% endblock %}
{% block content %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <div class="card-body">
            <div class="page-header">
                <h1 class="h4 m-0">{% trans 'Profile:' %} {{ current_user }}</h1>
            </div>
        </div>
    </div>
    <div class="row gy-4">
        <!-- User Sidebar -->
        <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
            <!-- User Card -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="user-avatar-section mb-5">
                        <div class="d-flex align-items-center flex-column">
                            {% if not current_user.avatar %}
                            <img class="img-fluid rounded mb-2" src="{% static './img/default_avatar.png' %}"
                                 height="110"
                                 width="110" alt="User avatar"/>
                            {% else %}
                            <img class="img-fluid rounded mb-2" src="{{ current_user.avatar }}" height="110"
                                 width="110" alt="User avatar"/>
                            {% endif %}
                        </div>
                    </div>
                    <h5 class="pb-2 border-bottom mb-4"></h5>
                    <div class="info-container">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <span class="fw-bold me-2">{% trans 'Username:' %}</span>
                                <span>{{ current_user.user.username }}</span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-bold me-2">{% trans 'Email:' %}</span>
                                <span><a
                                        href="mailto:{{ current_user.user.email }}">{{ current_user.user.email }}</a></span>
                            </li>
                            <li class="mb-3">
                                <span class="fw-bold me-2">{% trans 'Status:' %}</span>
                                {% if current_user.user.is_active == True %}
                                <span class="badge bg-label-success">{% trans 'ACTIVE' %}</span>
                                {% else %}
                                <span class="badge bg-label-danger">{% trans 'INACTIVE' %}</span>
                                {% endif %}
                            </li>
                            <!--<li class="mb-3">
                                <span class="fw-bold me-2">{% trans 'Contact:' %}</span>
                                <span>(123) 456-7890</span>
                            </li>-->
                            <li class="mb-3">
                                <span class="fw-bold me-2">{% trans 'Languages:' %}</span>
                                <span>{{ current_user.language|extract_languages }}</span>
                            </li>
                            {% if current_user.user.school_role == 'student' %}
                            <li class="mb-3">
                                <span class="fw-bold me-2">{% trans 'Teacher:' %}</span>
                                <span><a href="#" data-bs-toggle="modal" data-bs-target="#about-teacher">{{ current_user.teacher }}</a></span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /User Card -->
            <!-- Plan Card -->
            {% if request.user == current_user.user %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <span class="badge bg-label-primary">{% trans 'Rate' %}</span>
                        <div class="d-flex justify-content-center">
                            <sup class="h5 pricing-currency mt-3 mt-sm-4 mb-0 me-1 text-primary">
                                {{ current_user.currency.symbol }}</sup>
                            <h1 class="display-3 fw-normal mb-0 text-primary">{{ current_user_rate }}</h1>
                            <sub class="fs-6 pricing-duration mt-auto mb-4">{% trans '/hour' %}</sub>
                        </div>
                    </div>
                    {% if current_user.user.school_role == 'student' %}
                    <ul class="list-unstyled mb-3">
                        <li class="h5 mb-2">{% trans 'Balance' %}</li>
                        <li class="display-6 fw-bold mb-0">{{ current_user.wallet }} {{ current_user.currency }}</li>
                    </ul>
                    <span>{% trans 'Enough for about' %} <b>{{ lessons_left }}</b></span>
                    <div class="d-grid w-100 mt-3 pt-2"
                         data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" title="Coming Soon">
                        <button class="btn btn-primary" disabled>
                            {% trans 'Pay' %}
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!-- /Plan Card -->
        </div>
        <!--/ User Sidebar -->

        <!-- User Content -->
        <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
            <!-- User Pills -->
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'lessons' %}active{% endif %}"
                       href="{% url 'school:profile-lessons' pk=current_user.user.id %}">
                        <i class="bx bxs-school me-1"></i>{% trans 'Lessons' %}</a>
                </li>
                {% if current_user.user.school_role == 'student' %}
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'progress' %}active{% endif %}"
                       href="{% url 'school:profile-progress' pk=current_user.user.id %}">
                        <i class="bx bxs-graduation me-1"></i>{% trans 'Progress' %}</a>
                </li>
                {% endif %}
                {% if request.user == current_user.user %}
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'payments' %}active{% endif %}"
                       href="{% url 'school:profile-payments' pk=current_user.user.id %}">
                        <i class="bx bx-money-withdraw me-1"></i>{% trans 'Payments' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'settings' %}active{% endif %}"
                       href="{% url 'school:profile-settings' pk=current_user.user.id %}">
                        <i class="bx bxs-cog me-1"></i>{% trans 'Settings' %}</a>
                </li>
                {% endif %}
            </ul>
            <!--/ User Pills -->

            {% if tab == 'lessons' %}
                {% include 'school/profile/components/lessons.html' %}
            {% elif tab == 'progress' %}
                {% include 'school/profile/components/progress.html' %}
            {% elif tab == 'payments' %}
                {% include 'school/profile/components/payments.html' %}
            {% elif tab == 'settings' %}
                {% include 'school/profile/components/settings.html' %}
            {% endif %}
        </div>
        <!--/ User Content -->
    </div>
</div>
<!-- / Content -->

{% if current_user.user.school_role == 'student' %}
<!-- Modal About Teacher  -->
{% include 'school/modals/about-teacher.html' %}
<!-- / Modal About Teacher -->
{% endif %}

{% endblock %}

{% block extra_js %}

{% endblock %}