{% extends 'siteapp/base-template.html' %}
{% load i18n %}
{% load static %}
{% load extract_languages %}
{% block page-title %}{{ current_user }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static './vendor/css/pages/page-profile.css' %}">
{% endblock %}
{% block content %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="user-profile-header-banner">
                      <img src="{% static './img/pages/profile-banner.png' %}" alt="Banner image" class="rounded-top" style="height: 100px;">
                </div>
                <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                    <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                        {% if not current_user.avatar %}
                        <img class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img" src="{% static './img/default_avatar.png' %}"
                             height="110"
                             width="110" alt="User avatar"/>
                        {% else %}
                        <img class="d-block h-auto ms-0 ms-sm-4 rounded-3 user-profile-img" src="{{ current_user.avatar }}" height="110"
                             width="110" alt="User avatar"/>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 mt-3 mt-sm-5">
                        <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                            <div class="user-profile-info">
                                <h4>{{ current_user }}</h4>
                                <ul class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                                    <li class="list-inline-item fw-medium">
                                        <span class="fw-bold me-2">{% trans 'Languages:' %}</span>
                                        <span>{{ current_user.language|extract_languages }}</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary text-nowrap">
                                <i class="bx bx-user-check me-1"></i>Connected
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text text-uppercase">Contacts</p>
                    <ul class="list-unstyled m-0">
                        <li class="d-flex align-items-center">
                            <i class="bx bx-envelope bx-xs"></i><span class="fw-medium mx-2">Email:</span>
                            <span><a href="mailto:{{ current_user.user.email }}">{{ current_user.user.email }}</a></span>
                        </li>
                    </ul>
                    {% if request.user.school_role == SCHOOL_ROLES.STUDENT %}
                    <p class="card-text text-uppercase">Teacher Contacts</p>
                    <ul class="list-unstyled mt-3 mt-4">
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-user bx-xs"></i><span class="fw-medium mx-2">Name:</span>
                            <span><a href="#" data-bs-toggle="modal" data-bs-target="#about-teacher">{{ current_user.teacher }}</a></span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="bx bx-envelope bx-xs"></i><span class="fw-medium mx-2">Email:</span>
                            <span><a href="mailto:{{ current_user.teacher.user.email }}">{{ current_user.teacher.user.email }}</a></span>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!-- User Pills -->
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'lessons' %}active{% endif %}"
                       href="{% url 'school:profile-lessons' pk=current_user.user.id %}">
                        <i class="bx bxs-school me-1"></i>{% trans 'Lessons' %}</a>
                </li>
                {% if current_user.user.school_role == SCHOOL_ROLES.STUDENT %}
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'progress' %}active{% endif %}"
                       href="{% url 'school:profile-progress' pk=current_user.user.id %}">
                        <i class="bx bxs-graduation me-1"></i>{% trans 'Progress' %}</a>
                </li>
                {% endif %}
                {% if request.user == current_user.user %}
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'payments' %}active{% endif %}"
                       href="{% url 'school:profile-payments' pk=current_user.user.id %}">
                        <i class="bx bx-money-withdraw me-1"></i>{% trans 'Billing & Plans' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'settings' %}active{% endif %}"
                       href="{% url 'school:profile-settings' pk=current_user.user.id %}">
                        <i class="bx bxs-cog me-1"></i>{% trans 'Settings' %}</a>
                </li>
                {% endif %}
            </ul>
            <!--/ User Pills -->

            {% if tab == 'lessons' %}
            {% include 'school/profile/components/lessons.html' %}
            {% elif tab == 'progress' %}
            {% include 'school/profile/components/progress.html' %}
            {% elif tab == 'payments' %}
            {% include 'school/profile/components/payments.html' %}
            {% elif tab == 'settings' %}
            {% include 'school/profile/components/settings.html' %}
            {% endif %}
        </div>
        <!--/ User Content -->
    </div>
</div>
<!-- / Content -->

{% if current_user.user.school_role == SCHOOL_ROLES.STUDENT %}
<!-- Modal About Teacher  -->
{% include 'school/modals/about-teacher.html' %}
<!-- / Modal About Teacher -->
{% endif %}

{% endblock %}

{% block extra_js %}

{% endblock %}