{% extends 'siteapp/base-template.html' %}
{% load i18n %}
{% load static %}
{% load url_params %}
{% load extract_students %}
{% block extra_css %}

{% endblock %}

{% block page-title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 class="m-0 h3">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center flex-wrap" style="gap: 1em;">
                        <div class="">
                            <h2 class="h3 m-0">{% trans 'Lesson by Month' %}</h2>
                        </div>
                        <div class="d-flex justify-content-end flex-wrap" style="gap: 1em;">
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuMonth"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% for item in item_list %}
                                    {% if item.id == current_item or item == current_item %}{{ item }} {% endif %}
                                    {% endfor %}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuMonth">
                                    {% for item in item_list %}
                                    <li><a class="dropdown-item" href="?{% param_replace item=item.id %}">{{ item }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuMonth"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% for month in month_list %}
                                    {% if month.number == current_month %}{{ month.title }} {% endif %}
                                    {% endfor %}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuMonth">
                                    {% for month in month_list %}
                                    <li><a class="dropdown-item" href="?{% param_replace month=month.number %}">
                                        {{ month.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuYear"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ current_year }}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuYear">
                                    {% for year in available_years %}
                                    <li><a class="dropdown-item" href="?{% param_replace year=year %}">{{ year }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
                <div class="card-body table-responsive">
                    {% if result %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 25%" class="text-center">{% trans 'Student' %}</th>
                            {% for time in DURATIONS %}
                            <th class="text-center">{{ time }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in result %}
                        <tr>
                            <td style="width: 25%">{{ item.students }}</td>
                            {% for time in DURATIONS %}
                            <td class="text-center">
                                {% if time.time == item.duration %}
                                {{ item.count }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-center p-3 m-0" style="border: 1px solid"><b>{% trans 'Data is empty' %}</b></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="h3 m-0">{% trans 'Month payment sum' %}</h2>
                </div>
                <hr class="m-0">
                <div class="card-body">
                    {% if month_payment %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans 'Month' %}</th>
                            <th>{% trans 'Part of month' %}</th>
                            <th>{% trans 'Sum' %}</th>
                        </tr>
                        </thead>
                        {% for i in month_payment %}
                        <tr>
                            <td>{{i.month|date:"F"}}</td>
                            <td>
                                {% if i.half_month %}
                                {% if i.half_month == 1 %} First part {% else %} Second part {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ current_item.currency.symbol }}{{ i.total_price }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p class="text-center p-3 m-0" style="border: 1px solid"><b>{% trans 'Data is empty' %}</b></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block extra_js %}

{% endblock %}