{% extends 'school/base-template.html' %}
{% load static %}
{% load url_params %}
{% load extract_students %}
{% block extra_css %}

{% endblock %}

{% block page-title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1 container-p-y">
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 class="m-0 h3">{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header  d-flex justify-content-end">
                    <div class="btn-group me-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuMonth"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% for item in item_list %}
                            {% if item == current_item %}{{ item }} {% endif %}
                            {% endfor %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuMonth">
                            {% for item in item_list %}
                            <li><a class="dropdown-item" href="?{% param_replace item=item.id %}">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group me-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuMonth"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% for month in month_list %}
                            {% if month.number == current_month %}{{ month.title }} {% endif %}
                            {% endfor %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuMonth">
                            {% for month in month_list %}
                            <li><a class="dropdown-item" href="?{% param_replace month=month.number %}">{{ month.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="btn-group me-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuYear"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_year }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuYear">
                            {% for year in available_years %}
                            <li><a class="dropdown-item" href="?{% param_replace year=year %}">{{ year }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 25%" class="text-center">Student</th>
                            {% for time in durations %}
                            <th class="text-center">{{ time }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in result %}
                        <tr>
                            <td style="width: 25%">{{ item.students }}</td>
                            {% for time in durations %}
                            <td class="text-center">
                                {% if time.time == item.duration %}
                                {{ item.count }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block extra_js %}

{% endblock %}