.card {
    --padding-x: 1rem;
    --padding-y: 0.5rem;

    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--text);
    background-color: var(--alter_bg_color);
    border: 1px solid var(--bd_color);
    border-radius: 0.5rem;
    word-wrap: break-word;

    + .card {
        margin-top: 1rem;
    }

    > hr {
        margin-right: 0;
        margin-left: 0;
    }

    .card-body {
        flex: 1 1 auto;
        padding: var(--padding-y) var(--padding-x);
        color: var(--text);
    }

    .card-title {
        color: var(--text_dark);
    }

    .card-subtitle {
        color: var(--text);
    }

    .card-link + .card-link {
        margin-left: 0.5rem;
    }

    .card-link {
        color: var(--text_link2);

        &:hover,
        &:focus {
            color: var(--text_hover2);
        }
    }

    .card-header {
        padding: var(--padding-y) var(--padding-x);
        margin-bottom: 0;
        background-color: var(--alter_bg_hover);
        border-bottom: 1px solid var(--bd_color);
    }
    .card-header:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .card-footer {
        padding: var(--padding-y) var(--padding-x);
        background-color:  var(--alter_bg_hover);
        border-top: 1px solid var(--bd_color);
    }
    .card-footer:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
    }
}