.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        color: var(--text);
        text-decoration: none;
        background-color: transparent;
        border: 1px solid var(--bd_color);

        +.list-group-item {
            border-top-width: 0;
        }
    }

    .list-group-item-action {
        width: 100%;
        text-align: inherit;
    }

    .list-group-item {
        &.active {
            z-index: 2;
            color: var(--extra_hover);
            background-color: var(--text_link);
            border-color: var(--text_link);
        }
        &.disabled {
            pointer-events: none;
            opacity: 0.7;
        }

        &:hover,
        &:focus {
            color: var(--extra_hover);
            background-color: var(--text_link);
            border-color: var(--text_link);
        }

        &:first-child {
            border-radius: 0.25rem  0.25rem 0 0;
        }

        &:last-child {
            border-radius: 0 0 0.25rem  0.25rem;
        }
    }
}