table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--bd_color);


    th, td {
        padding: 0.5rem 1rem;
        border: 1px solid var(--bd_color);
    }

    th {
        color: var(--text_dark);
    }
}

table.schedule {
    border: none;

    th, td {
        border: none;
    }

    thead {
        background-color: var(--alter_bg_hover);
    }

    tbody {
        tr {
            &:nth-child(even) {
                background-color: var(--bg_color);
            }

            &:hover {
                background-color: var(--alter_bg_hover);
            }
        }
    }

    .status {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: var(--text);
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.status--planned {
            background-color: var(--text_link2);
        }
        &.status--success {
            background-color: var(--text_link);
        }
        &.planned-missed {
            background-color: var(--extra_danger);
        }
    }

    a:not(.btn) {
        color: var(--text_dark);

        &:hover {
            color: var(--text);
        }
    }
}