:root,
.default_scheme {
    --bg_color: #F0F7F9;
    --bd_color: #D9E2EC;

    --alter_bg_color: #FFFFFF;
    --alter_bg_hover: #EAEFF5;
    --alter_bd_color: #D9E2EC;
    --alter_bd_hover: #CCD7E2;

    --text: #656C77;
    --text_dark: #11224D;
    --text_light: #9CA1A8;
    --text_link: #96D35C;
    --text_hover: #82B74F;
    --text_link2: #00A2E6;
    --text_hover2: #0260A3;
    --text_link3: #134B7A;
    --text_hover3: #073861;

    // extra
    --extra_bg_color: #11203C;
    --extra_bg_hover: #192946;
    --extra_bd_color: #22324E;
    --extra_bd_hover: #2D3C56;

    --extra_text: #CDD2DE;
    --extra_dark: #FFFFFF;
    --extra_light: #8D97AB;
    --extra_link: #96D35C;
    --extra_hover: #ffffff;
    --extra_success: #198754;
    --extra_success_hover: #146c43;
    --extra_warning: #ffc107;
    --extra_warning_hover: #cc9a06;
    --extra_danger: #dc3545;
    --extra_danger_hover: #b02a37;
    --extra_info: #0dcaf0;
    --extra_info_hover: #0aa2c0;
}

.dark_scheme {
    --bg_color: #071630;
    --bd_color: #22324E;

    --alter_bg_color: #091936;
    --alter_bg_hover: #192946;
    --alter_bd_color: #22324E;
    --alter_bd_hover: #2D3C56;

    --text: #CDD2DE;
    --text_dark: #FFFFFF;
    --text_light: #8D97AB;
    --text_link: #96D35C;
    --text_hover: #82B74F;
    --text_link2: #00A2E6;
    --text_hover2: #0260A3;
    --text_link3: #134B7A;
    --text_hover3: #073861;

    // extra
    --extra_bg_color: #11203C;
    --extra_bg_hover: #192946;
    --extra_bd_color: #22324E;
    --extra_bd_hover: #2D3C56;

    --extra_text: #CDD2DE;
    --extra_dark: #FFFFFF;
    --extra_light: #8D97AB;
    --extra_link: #96D35C;
    --extra_hover: #ffffff;
    --extra_success: #198754;
    --extra_success_hover: #146c43;
    --extra_warning: #ffc107;
    --extra_warning_hover: #cc9a06;
    --extra_danger: #dc3545;
    --extra_danger_hover: #b02a37;
    --extra_info: #0dcaf0;
    --extra_info_hover: #0aa2c0;
}


// Responsive
//------------------------------------------

// By screen size
$media_xxl:			                        "(max-width: 1679px)";
$media_xl:			                        "(max-width: 1439px)";
$media_lg:			                        "(max-width: 1279px)";
$media_md_lg:		"(min-width:  768px) and (max-width: 1279px)";
$media_md_over:		"(min-width: 1024px)";
$media_md:			                        "(max-width: 1023px)";
$media_wp_fix:		"(min-width:  601px) and (max-width:  782px)";
$media_wp_over:		"(min-width:  600px)";
$media_sm:			                        "(max-width:  767px)";
$media_sm_wp:		                        "(max-width:  600px)";
$media_xs:			                        "(max-width:  479px)";

// Fonts
@font-face {
    font-weight: 700; /* Соответствует значению normal */
    font-style: italic;
    font-family: Chekharda;
    src: url("fonts/Chekharda-BoldItalic.woff2");
}

$text: 'Open Sans', sans-serif;
$heading: 'Chekharda', sans-serif;