.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1ren;
    color: var(--text_link3);
    text-align: left;
    background-color: var(--bg_color);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: all 0.3s ease-in-out;

    &:not(.collapsed) {
        color: var(--text_link3);
        background-color: var(--alter_bg_hover);

        &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            transition: all 0.3s ease-in-out;
        }
    }

    // Accordion icon
    &::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        z-index: 2;
    }

    &:focus {
        z-index: 3;
        outline: 0;
    }
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item {
    color: var(--text);
    background-color: var(--alter_bg_color);
    border: 1px solid var(--bd_color);

    &:not(:first-of-type) {
        border-top: 0;
    }
}

.accordion-body {
    padding: 1rem 1.25rem;
}

