* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 17px;
}

body {
    position: relative;
    height: 100%;
    font-family: $text;
    font-size: 1em;
    line-height: 1.5em;
    color: var(--text);
    background-color: var(--bg_color);

    display: grid;
    grid-template-rows: max-content auto max-content;
}

main {
    max-height: 100%;
    overflow: auto;
    padding: 1rem 0;
    scroll-behavior: smooth;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 1290px;
}

.container-fluid {
    --bs-gutter-x: 1.5rem;
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
    max-width: 100%;
}


// Typography
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

p {
    margin-top: 0;
    margin-bottom: 1.35em;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--text_link);
    transition: 0.2s ease-in;

    &:hover{
        color: var(--text_hover);
    }
}

hr {
    margin: 1.5rem 0;
    height: 0;
    border: none;
    border-top: 1px solid var(--bd_color);
}

h1, .h1 {
    font-family: $heading;
    font-size: 2.5rem;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text_dark);
}

h2, .h2 {
    font-family: $heading;
    font-size: 2.25rem;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text_dark);
}

h3, .h3 {
    font-family: $heading;
    font-size: 2rem;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text_dark);
}

h4, .h4 {
    font-family: $heading;
    font-size: 1.75rem;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text_dark);
}

h5, .h5 {
    font-family: $heading;
    font-size: 1.5rem;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text_dark);
}

h6, .h6 {
    font-family: $heading;
    font-size: 1.25rem;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--text_dark);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.accent-1 {color: var(--text_link) !important;}
.accent-2 {color: var(--text_link2) !important;}
.accent-3 {color: var(--text_link3) !important;}
.accent-bg-1 {background-color: var(--text_link) !important;}
.accent-bg-2 {background-color: var(--text_link2) !important;}
.accent-bg-3 {background-color: var(--text_link3) !important;}

dl {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    dt {
        font-size: 0.85em;
        font-weight: 700;
        color: var(--text_dark);

        &:not(:first-child) {
            margin-top: 0.5rem;
            padding-top: 0.5rem;
            border-top: 1px solid var(--bd_color);
        }
    }

    dd {
        margin-left: 0;
        font-weight: 400;
        color: var(--text);
    }

    &.lesson {
        dt {
            color: var(--text_light);

            &:not(:first-child) {
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                border-top: 1px solid var(--bd_color);
            }
        }

        dd {
            font-weight: 700;
            color: var(--text_dark);
        }
    }
}

.flex-items-center {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}

.text-ellipses {
    max-width: 510px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teacher-students {
    .col-md-3 {
        overflow: visible;
    }
    .list-group {
        top: 0;
        position: sticky;
    }
}

/* ScrollTop */

.scrollTop.btn {
    width: 44px;
    height: 44px;
    bottom: 70px;
    right: 50px;
    overflow: hidden;
    position: fixed;
    text-decoration: none;
    z-index: 9999;
    font-size: 0;
    color: transparent;
    background-color: var(--extra_bg_color);
    border-color: var(--extra_bg_color);
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
    opacity: 0;
    padding: 0;
    transform: translateY(100px);
    border-radius: 0.25rem;
    text-indent: -1000px;
    @media (max-width: 347px) {
        bottom: 20px;
    }
    &:hover {
        background-color: var(--text_link);
        border-color: var(--text_link);
    }

    &:after {
        color: var(--extra_dark);
        content: "\f106";
        font-size: 17px;
        font-family: "fontello";
        text-align: center;
        display: block;
        position: absolute;
        line-height: 42px;
        top: 50%;
        left: 50%;
        text-indent: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

    &.showBtn {
        opacity: 1;
        transform: translateY(0);
    }
}


@media #{$media_sm} {
    body {
        main {
            overflow: inherit;
        }
    }
}