.main-footer {
    margin-top: 1rem;
    padding: 15px 0;
    background-color: var(--alter_bg_color);

    p {
        font-size: 0.85rem;
    }

    a {
        color: var(--text_light);

        &:hover {
            color: var(--text_dark);
        }
    }
}