.main-header {
    margin-bottom: 1rem;
    padding: 15px 0;
    background-color: var(--alter_bg_color);

    .row {
        align-items: center;
    }

    .logo {
        a {
            margin: 0;
            line-height: 1;
        }
        img {
            display: inline-block;
        }
    }
}

.theme-control {
    display: inline-block;
}

.theme-switcher {
    position: relative;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    z-index: 1;

    .theme-switcher__legend {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .theme-switcher__radio {
        appearance: none;
        margin: 0;
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        transition: filter 0.1s ease-in;

        &:focus {
            outline: none;
        }
    }

    .theme-switcher__radio--light {
        background-image: url("../img/color-mode/sun.svg");
    }

    .theme-switcher__radio--auto {
        background-image: url("../img/color-mode/auto.svg");
    }

    .theme-switcher__radio--dark {
        background-image: url("../img/color-mode/moon.svg");
    }
    
    .theme-switcher__status {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0 0 0 1px var(--text_link3);
        background-color: transparent;
        background-repeat: no-repeat;
        background-image: url("../img/color-mode/circle.svg");
        background-size: 24px;
        background-position: center;
        transition: background-position 0.1s ease-in;
        border-radius: 18px;
    }

    .theme-switcher__radio:focus-visible ~ .theme-switcher__status {
        box-shadow: 0 0 0 2px var(--extra_bd_color);
    }

    .theme-switcher__radio--light:checked ~ .theme-switcher__status {
        background-position: left 2px center;
    }

    .theme-switcher__radio--auto:checked ~ .theme-switcher__status {
        background-position: center center;
    }

    .theme-switcher__radio--dark:checked ~ .theme-switcher__status {
        background-position: right 2px center;
    }
}

:root,
.default_scheme {
    .theme-switcher__radio {
        filter: invert(0);
    }
    .theme-switcher__radio:checked {
        filter: invert(1);
    }
    .theme-switcher__status {
        filter: invert(0);
    }
}
.dark_scheme {
    .theme-switcher__radio {
        filter: invert(1);
    }
    .theme-switcher__radio:checked {
        filter: invert(0);
    }
    .theme-switcher__status {
        filter: invert(1);
    }
}

.main-menu {
    .main-menu__list {
        display: flex;
        justify-content: center;

        margin: 0;
        padding: 0;
        list-style: none;
    }

    .main-menu__link {
        position: relative;
        padding: 0.25rem 0.5rem;
        font-weight: 600;
        color: var(--text_dark);
        transition: 0.3s ease-in-out;

        &:hover,
        &.active {
            color: var(--text_link);
        }
    }
}

@media #{$media_sm} {
    .main-header {
        .logo img {
            max-height: 30px;
        }
    }
}