body.login {

    .wrapper {
        display: flex;
        height: 100%;
    }

    .wrapper_inner {
        margin: auto;
        padding: 2em 3em;
        width: 100%;
        max-width: 450px;
        background-color: var(--alter_bg_color);
        border-radius: 0.5em;
        box-shadow: 0 12px 38px rgba(0, 0, 0, 0.1);

        .dark_scheme & {
            box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);
        }
    }

    form {
        margin-top: 1rem;
        min-width: 100%;
        max-width: 100%;

        &.logout-form {
            margin: 0;
            min-width: auto;
            max-width: none;
            width: auto;
        }
    }
}

@media #{$media_sm} {
    body.login {

        .wrapper {
            max-width: 100%;
            margin: auto;
            padding: 1em 2em;
            background-color: var(--alter_bg_color);
            border-radius: 0.5em;
        }

        form {
            margin-top: 1rem;
            width: 100%;
            max-width: 100%;
        }
    }
}