{% extends 'siteapp/base-template.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block page-title %}{{ title }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static './vendor/libs/select2/select2.css' %}"/>
<style>
    .hidden {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="container py-5" style="max-width: 960px;">
    <form id="payment-add" action="{% url 'transactions:payment-add' %}" method="POST">
        {% csrf_token %}
        <div class="card mb-5">
            <div class="card-header">
                <h2 class="h4 m-0">{{ title }}</h2>
            </div>
            <hr class="m-0">
            <div class="card-body">
                {{ form.payment_type|as_crispy_field }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.student|as_crispy_field }}
                        {{ form.company|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.price|as_crispy_field }}
                    </div>
                </div>
                {{ form.description|as_crispy_field }}
            </div>
            <hr class="m-0">
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">{% trans 'Add payment' %}</button>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="card-header">
            <h2 class="h5 m-0">{% trans 'Last payments' %}</h2>
        </div>
        <hr class="m-0">
        <div class="card-body">
            {% if last_payments %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <th>{% trans 'Student / Company' %}</th>
                    <th>{% trans 'Price' %}</th>
                    <th>{% trans 'Description' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in last_payments %}
                <tr>
                    <td>{{ payment.created_at }}</td>
                    <td>{{ payment.student }} {{ payment.company }}</td>
                    <td>{{ payment.price }}</td>
                    <td>{{ payment.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>{% trans 'No payments found.' %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static './vendor/libs/select2/select2.js' %}"></script>

<script>
    $("#id_student").select2();
    $("#id_company").select2();

    let types = document.querySelectorAll('[name="payment_type"]');
    const students = document.querySelector('#div_id_student');
    const companies = document.querySelector('#div_id_company');

    const students_list = students.querySelector('#id_student');
    const companies_list = companies.querySelector('#id_company');

    companies.classList.add('hidden');
    students_list.required = true;

    types.forEach(type => {
        type.addEventListener('change', function() {
            $('#id_student').val(null).trigger('change');
            $('#id_company').val(null).trigger('change');

            if (this.value === 'student') {
                companies.classList.add('hidden');
                students.classList.remove('hidden');
                students_list.required = true;
                companies_list.required = false;
            } else if (this.value === 'company') {
                companies.classList.remove('hidden');
                students.classList.add('hidden');
                students_list.required = false;
                companies_list.required = true;
            }
        });
    });
</script>
{% endblock %}